@media (min-width: 600px) {
    .d-flex {
      justify-content: flex-end !important; /* Add !important to ensure it takes precedence */
    }
  }

  .div-pay {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(108,108,108,1) 50%, rgba(0,0,0,1) 100%);
}

.pay {
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,117,255,1) 50%, rgba(0,0,0,1) 100%);
  max-width: 150px;
  width: 50%;
  margin-right: auto;
  margin-left: auto; 
  border-radius: 50px; 
  height: 25px; 
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.title-pay {
  font-size: 20px;
  color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.pay-logo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; 
}

.pay-logo label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pay-logo img {
  max-width: 100%; 
}

.swish, .paypal, .mastercard {
  width: 50px;
  height: auto; 
  margin: 10px;
}

.pay-logo input[type="radio"]:checked {
  background-color: black;
  border-color: black;
}

.pay-logo input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
  outline: none;
  margin-right: 5px; 
}

.finish-pay  {
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(66,255,0,1) 50%, rgba(0,0,0,1) 100%);
  color: rgb(255, 255, 255);
  text-align: center;
  width: 500pxpx;
  height: 300px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.thank-you {
  margin-top: 120px;
}